<footer class="footer">
  <div class="box has-text-centered">
    <p class="subtitle is-4">Made by Aro</p>
    <div class="socials">
      <a href="https://github.com/notAro14" target="_blank">
        <i class="fab fa-github-alt"></i>
      </a>
      <a href="https://www.instagram.com/_not_aro_/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com/notAro30210941" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <img class="img-footer" src="/made-with-bulma--black.png" />
  </div>
</footer>
