<div class="hero">
  <div class="hero-body">
    <div class="apex-landing">
      <figure class="image is-128x128">
        <img
          class="is-rounded"
          src="/apex_legends___icon_by_blagoicons_dcywezc.png"
        />
      </figure>
      <div>
        <h1 class="title is-1 has-text-danger">Welcome to the APEX game.</h1>
        <h2 class="subtitle is-4 has-text-white has-text-weight-light">
          Find your favorite Champion
          <i class="fas fa-trophy has-text-warning"></i>
        </h2>
      </div>
    </div>
  </div>
</div>

<form action="/" method="POST" class="box">
  <div class="field">
    <p class="control is-expanded has-icons-left">
      <span class="select is-fullwidth is-medium">
        <select name="platform">
          <option selected value="psn">PS4</option>
          <option value="xbl">Xbox</option>
          <option value="origin">PC</option>
        </select>
      </span>
      <span class="icon is-small is-left">
        <i class="fas fa-gamepad"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input
        class="input is-medium"
        type="text"
        placeholder="Gamertag (e.g: Daltoosh)"
        name="gamertag"
        required
      />
      <span class="icon is-small is-left">
        <i class="fas fa-headset"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button type="submit" class="button is-warning is-medium">
        <span>Search</span>
        <span class="icon is-small">
          <i class="fas fa-search"></i>
        </span>
      </button>
    </p>
  </div>
</form>
